<!DOCTYPE html>
<html lang="@DotnetFoundationWeb.AppSettings.Lang">
<head>
    @Html.Partial("_partials/_head")

    @RenderSection("head", required: false)
</head>
<body class="d-flex flex-column">
    @Html.Partial("_partials/_header")

    <div id="site_wrapper" class="container-fluid cs-container flex-fill">
        <div class="row">
            <main id="site_container" role="main" class="col order-3">
                <section class="body-section">
                    <div class="body-container">
                        @if (Model.GetBool("IsHome") && DotnetFoundationWeb.AppSettings.IsCampaignOpen)
                        {
                            @Html.Partial("_partials/_elections-banner")
                        }
                        
                        @RenderBody()
                    </div>
                </section>

                <!-- Footer -->
                @Html.Partial("_partials/_footer")
                <!-- Footer End -->
            </main>
        </div>
    </div>
    
    @if (Model.GetBool("IsHome"))
    {
        <script src="js/home.js"></script>
    }
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" data-no-mirror=data-no-mirror></script>
</body>
</html>
