---
title: .NET Foundation
description: You've found the heartbeat of .NET - where projects and communities come together to get things done in our open-source world. Share your skills for the greater good. Meet in person, get involved virtually, and stay on top of the latest news, meetups, and events.
isHome: true
---
<section id="home-hero">
    <div id="home-hero_container" class="container-fluid d-flex justify-content-center position-relative">
        <div id="home-hero_overlay" class="position-absolute"></div>
        <div id="home-hero_content" class="position-relative">
            <h2 id="home-hero_title">Independent. Innovative. Always open source.</h2>
            <p id="home-hero_copy" class="mx-auto">
                The .NET Foundation is an independent, non-profit organization established to support an innovative, commercially friendly, open-source ecosystem around the .NET platform.
            </p>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>How we support the community?</h2>
            </div>
        </div>
        <div class="page-section_row row">
            <div class="page-section_column page-section_column--narrow col-md-4 pad-fix--all text-center">
                <img src="img/comp.png" alt="Open Source Projects" class="community-image">
                <h3>Open Source Projects</h3>
                <p style="min-height: 145px">
                    The .NET Foundation provides several services to support the open source projects in our community and help them grow.
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="/projects">Find out more</a>
                </div>
            </div>
            <div class="page-section_column page-section_column--narrow col-md-4 pad-fix--all text-center">
                <img src="img/globe_icon.png" alt="Community" class="community-image">
                <h3>Community</h3>
                <p style="min-height: 145px">
                  We work not only with Microsoft, but with the broader industry to increase exposure of .NET's capabilities. All our resources are designed to support developers and your projects, and help promote your endeavors with like-minded folks!
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="/community">Find out more</a>
                </div>
            </div>
            <div class="page-section_column page-section_column--narrow col-md-4 pad-fix--all text-center">
                <img src="img/Icon-Resources.svg" alt="Resources" class="community-image">
                <h3>Resources</h3>
                <p style="min-height: 145px">
                    The foundation also lists a number of presentations, workshops, e-books and tutorials from the community.
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="/community/resources">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-3 col-sm-6">
                <div class="icon-box animated icon-box--grey animation-delay--8 d-flex flex-column align-items-center" data-delay="900">
                    <div class="icon-box_stat">
                        <span class="counter">@DotnetFoundationWeb.AppSettings.ContributionsCounter.ToString("N0")</span><span class="icon-plus" style="display:none">+</span>
                    </div>
                    <div class="icon-box_icon">
                        <img src="img/developers_icon.png" alt="Contributions">
                    </div>
                    <div class="icon-box_label">
                        Contributions
                    </div>
                </div>
            </div>
            <div class="page-section_column col-lg-3 col-sm-6 pad-fix--sm">
                <div class="icon-box animated icon-box--grey animation-delay--2 d-flex flex-column align-items-center" data-delay="300">
                    <div class="icon-box_stat">
                        <span class="counter">@DotnetFoundationWeb.AppSettings.CompaniesCounter.ToString("N0")</span><span class="icon-plus" style="display:none">+</span>
                    </div>
                    <div class="icon-box_icon">
                        <img src="img/building_icon.png" alt="Companies">
                    </div>
                    <div class="icon-box_label">
                        Companies
                    </div>
                </div>
            </div>
            <div class="page-section_column col-lg-3 col-sm-6 pad-fix--lg">
                <div class="icon-box animated icon-box--grey animation-delay--4 d-flex flex-column align-items-center" data-delay="500">
                    <div class="icon-box_stat counter">
                        @DotnetFoundationWeb.AppSettings.ActiveProjectsCounter.ToString("N0")
                    </div>
                    <div class="icon-box_icon">
                        <img src="img/member_projects_icon.png" alt="Active Projects">
                    </div>
                    <div class="icon-box_label">
                        Active Projects
                    </div>
                </div>
            </div>
            <div class="page-section_column col-lg-3 col-sm-6 pad-fix--lg">
                <div class="icon-box animated icon-box--grey animation-delay--6 d-flex flex-column align-items-center" data-delay="700">
                    <div class="icon-box_stat counter">
                        @DotnetFoundationWeb.AppSettings.ResourcesCounter.ToString("N0")
                    </div>
                    <div class="icon-box_icon">
                        <img src="img/github_icon.png" alt="Resources">
                    </div>
                    <div class="icon-box_label">
                        Resources
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row" style="align-items: center" id="PresetFeaturedProject">
            			<div class="page-section_column col-sm-7 text-left" id="home-featured-project_container">
					<h2>Project Spotlight</h2>
					<h3><a href="https://cakebuild.net/">Project Website</a></h3>
					<p>
							Cake (C# Make) is a cross-platform build automation system with a C# DSL for tasks such as compiling code,
				copying files and folders, running unit tests, compressing files and building NuGet packages.
				It ships both as a <a href="https://www.nuget.org/packages/Cake.Tool/" target="_blank">.Net Global Tool</a> and a <a href="https://www.nuget.org/packages/Cake/" target="_blank">.Net Framework executable</a>.
				Out of the box it contains a number of different aliases to allow you to quickly orchestrate your build process, such as MSBuild, DotNet Core CLI,
				NuGet, and Chocolatey.  In addition, there are over <a href="https://www.nuget.org/profiles/cake-contrib" target="_blank">280 community driven addins</a> which allow you
				to perform other build tasks. For information on getting started with Cake, reference the <a href="https://cakebuild.net/docs/getting-started/running-cake-scripts" target="blank">Running Cake Scripts Documentation</a>.
					</p>
					<h4>
							<a href="https://cakebuild.net/">More on cakebuild.net&gt;</a>
					</h4>
			</div>
			<div class="page-section_column col-sm-5">
					<div class="video-iframe">
                         <div class="video-iframe-item">
                             <iframe width="560" height="315" src="https://www.youtube.com/embed/DfmX5ySdmv4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </div>
                     </div>
			</div>
        </div>
    </div>
    <div style="height: 3rem;"></div>
    <div id="home-featured-project_overlay"></div>
</section>
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Upcoming Events and Meetups</h2>
                <div id="PresetEvents"></div>
                <p class="">
                    <a class="link_title" href="https://meetup.com/pro/dotnet">Find more events and Meetups ></a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Latest News and <a href="/blog" aria-label="blog">Blog</a></h2>
                @Html.Partial("_partials/_blog-card.cshtml", Outputs
                        .FromPipeline(nameof(Statiq.Web.Pipelines.Content))
                        .FilterSources("blog/posts/*")
                        .OrderByDescending(doc => doc.GetDateTime(WebKeys.Published))
                        .Take(5))
                <p class="">
                    <a class="link_title" href="news">Get more news</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section--purple--light" id="corporate-sponsors">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Corporate Sponsors</h2>
                <p>These companies are helping drive the future of .NET. </p>
                <div class="corporate-sponsor-card-container">
                    @Html.Partial("_partials/_corporate-sponsor-logo-card.cshtml", Outputs
                      .FromPipeline(nameof(Statiq.Web.Pipelines.Content))
                      .FilterSources("corporate-sponsors/*.md")
                      .OrderBy(sponsor => sponsor.GetInt(Keys.Order))
                      )
                </div>
            </div>
        </div>
    </div>
</section>
