  <base href="@DotnetFoundationWeb.AppSettings.BaseRef" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  @if (string.IsNullOrEmpty(Model.GetString(WebKeys.Title)))
      {
         <title>@DotnetFoundationWeb.AppSettings.Title</title>
      }
  else
      {
        <title>@Model.GetString(WebKeys.Title)</title>
      }
  
  @if (string.IsNullOrEmpty(Model.GetString(WebKeys.Description)))
      {
        <meta name="description" content="@DotnetFoundationWeb.AppSettings.Description">
      }
  else
      {
        <meta name="description" content="@Model.GetString(WebKeys.Description)">
      }

  @Html.Partial("_partials/_favicons")
  
  <meta name="google-site-verification" content="F9a3IwT00fpPIErVTvIIqBcf2NEScrDCczZi4g9sul4" />
  <link rel="canonical" href="@Document.GetLink(true)" data-no-mirror>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" data-no-mirror=data-no-mirror />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" data-no-mirror=data-no-mirror />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" data-no-mirror=data-no-mirror />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous" data-no-mirror=data-no-mirror />
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/home.css" rel="stylesheet" />
  <link href="css/blog-common.css" rel="stylesheet" />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha256-4O4pS1SH31ZqrSO2A/2QJTVjTPqVe+jnYgOWUVr7EEc=" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>