@inherits Statiq.Razor.StatiqRazorPage<IEnumerable<IDocument>>

@foreach (IDocument member in Model)
{
    <div class="col-sm-6 col-md-4 profile">
        @if (!string.IsNullOrEmpty(member.GetString("image")))
        {
            <img height="120" class="rounded-image profile-image" alt="@member.GetString("title")" src="assets/members/@member.GetString("image")">
        }
        else
        {
            <img height="120" class="rounded-image profile-image" alt="@member.GetString("title")" src="img/dot_bot.png">
        }

        @if(member.GetBool("advisor"))
        {
          <h3 class="profile-name">@member.GetString("title")</h3>
        } else
        {
          <h3 class="profile-name"><a href="@Context.GetLink(member).Substring(1)">@member.GetString("title")</a></h3>
        }

        <div class="profile-details">
            @if(!string.IsNullOrWhiteSpace(member.GetString("company"))) {
              <p class="profile-company">@Html.Raw(member.GetString("company"))</p>
            }
            @if(!string.IsNullOrWhiteSpace(member.GetString("location"))) {
              <p class="profile-location">@Html.Raw(member.GetString("location"))</p>
            }
        </div>

        @if(!string.IsNullOrWhiteSpace(member.GetString("intro"))) {
          <p class="profile-intro">@Html.Raw(member.GetString("intro"))</p>
        }
        
        <div class="profile-intro">
          @if(member.GetBool("advisor")) {
            @Html.Raw(await member.GetContentStringAsync())
          }
        </div>

        @if (!string.IsNullOrEmpty(member.GetString("twitter")))
        {
            <span>
                <a href="https://twitter.com/@member.GetString("twitter")">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    @@@member.GetString("twitter")
                </a>
            </span>
        }
    </div>
}
