@inherits Statiq.Razor.StatiqRazorPage<IEnumerable<IDocument>>

@foreach (IDocument presentation in Model)
{
    <h3 id="@presentation.GetString("id")">
        @if (!String.IsNullOrEmpty(presentation.GetString("link")))
        {
            <a href="@presentation.GetString("link")">@presentation.GetString("title")</a>
        }
        else
        {
            @presentation.GetString("title")
        }
        @if (!String.IsNullOrEmpty(presentation.GetString("repo")))
        {
            
            <img src="https://img.shields.io/github/last-commit/@(presentation.GetString("repo")).svg?style=flat" alt="@presentation.GetString("title")">
        }
        @* <a class="anchorjs-link " href="#aspnet-core-for-beginners-" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons;
            padding-left: 0.375em;"></a> *@
    </h3>
    <p>
        @Html.Raw(await presentation.GetContentStringAsync())
    </p>
}