@inherits Statiq.Razor.StatiqRazorPage<IEnumerable<IDocument>>

@foreach (IDocument member in Model)
{
    <div class="col-md-3">
        @if (!string.IsNullOrEmpty(member.GetString("image")))
        {
            <img height="120" class="rounded-image" alt="ProfilePicture" src="assets/members/@member.GetString("image")">
        }
        else
        {
            <img height="120" class="rounded-image" alt="ProfilePicture" src="img/dot_bot.png">
        }

        @if(member.GetBool("advisor"))
        {
          <h4 class="col-md-3-name">@member.GetString("title")</h4>
        } else
        {
          <h4 class="col-md-3-name"><a href="@Context.GetLink(member).Substring(1)">@member.GetString("title")</a></h4>
        }

        @if (!string.IsNullOrEmpty(member.GetString("twitter")))
        {
            <span>
                <a href="https://twitter.com/@member.GetString("twitter")">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    @@@member.GetString("twitter")
                </a>
            </span>
        }

        <div class="col-md-3-body">
            <ul>
              @if(!string.IsNullOrWhiteSpace(member.GetString("company"))) {
              <li>@Html.Raw(member.GetString("company"))</li>
              }
              @if(!string.IsNullOrWhiteSpace(member.GetString("location"))) {
              <li>@Html.Raw(member.GetString("location"))</li>
              }
            </ul>
            @if(!string.IsNullOrWhiteSpace(member.GetString("intro"))) {
                @Html.Raw(member.GetString("intro"))
              }
              @if(member.GetBool("advisor")) {
                @Html.Raw(await member.GetContentStringAsync())
              }
        </div>

    </div>
}
