title: .NET Foundation
layout: _layout
isHome: true
---
<section id="home-hero">
    <div id="home-hero_container" class="container-fluid d-flex justify-content-center position-relative">
        <div id="home-hero_overlay" class="position-absolute"></div>
        <div id="home-hero_content" class="position-relative">
            <h2 id="home-hero_title">Independent. Innovative. Always open source.</h2>
            <p id="home-hero_copy" class="mx-auto">
                The .NET Foundation is an independent, non-profit organization established to support an innovative, commercially friendly, open-source ecosystem around the .NET platform.
            </p>
        </div>
    </div>
</section>

<section class="page-section page-section--fill">
  <div id="home-DATS_container" class="container-fluid position-relative">
    <div class="home-DATS-content">
        <h2 class="hidden">Dev around the Sun</h2>
        <time class="home-DATS-date">May 2nd, 12PM UTC</time>
        <p class="home-DATS-title">Learn from incredible tech speakers during a <strong>24hr Global Direct Relief Fundraiser</strong> for those affected by COVID-19</p>
        <a class="home-hero_button site-button site-button--orange" href="https://devaroundthesun.org/newsletter" target="_blank">Register now!</a>
        <img src="img/DATS_Horz_WhiteOrange.png" alt="Dev around the sun" class="home-DATS-logo">
    </div>
  </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>How we support the community?</h2>
            </div>
        </div>
        <div class="page-section_row row">
            <div class="page-section_column page-section_column--narrow col-md-4 pad-fix--all text-center">
                <img src="img/comp.png" class="community-image">
                <h3>Open Source Projects</h3>
                <p style="min-height: 145px">
                    The .NET Foundation provides several services to support the open source projects in our community and help them grow.
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="/projects">Find out more</a>
                </div>
            </div>
            <div class="page-section_column page-section_column--narrow col-md-4 pad-fix--all text-center">
                <img src="img/globe_icon.png" class="community-image">
                <h3>Community</h3>
                <p style="min-height: 145px">
                  We work not only with Microsoft, but with the broader industry to increase exposure of .NET's capabilities. All our resources are designed to support developers and your projects, and help promote your endeavors with like-minded folks!
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="/community">Find out more</a>
                </div>
            </div>
            <div class="page-section_column page-section_column--narrow col-md-4 pad-fix--all text-center">
                <img src="img/Icon-Resources.svg" class="community-image">
                <h3>Resources</h3>
                <p style="min-height: 145px">
                    Resources Description
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="/community/resources">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-3 col-sm-6">
                <div class="icon-box animated icon-box--grey animation-delay--8 d-flex flex-column align-items-center" data-delay="900">
                    <div class="icon-box_stat">
                        <span class="counter">@DotnetFoundationWeb.AppSettings.ContributionsCounter</span><span class="icon-plus" style="display:none">+</span>
                    </div>
                    <div class="icon-box_icon">
                        <img src="img/developers_icon.png">
                    </div>
                    <div class="icon-box_label">
                        Contributions
                    </div>
                </div>
            </div>
            <div class="page-section_column col-lg-3 col-sm-6 pad-fix--sm">
                <div class="icon-box animated icon-box--grey animation-delay--2 d-flex flex-column align-items-center" data-delay="300">
                    <div class="icon-box_stat">
                        <span class="counter">@DotnetFoundationWeb.AppSettings.CompaniesCounter</span><span class="icon-plus" style="display:none">+</span>
                    </div>
                    <div class="icon-box_icon">
                        <img src="img/building_icon.png">
                    </div>
                    <div class="icon-box_label">
                        Companies
                    </div>
                </div>
            </div>
            <div class="page-section_column col-lg-3 col-sm-6 pad-fix--lg">
                <div class="icon-box animated icon-box--grey animation-delay--4 d-flex flex-column align-items-center" data-delay="500">
                    <div class="icon-box_stat counter">
                        @DotnetFoundationWeb.AppSettings.ActiveProjectsCounter
                    </div>
                    <div class="icon-box_icon">
                        <img src="img/member_projects_icon.png">
                    </div>
                    <div class="icon-box_label">
                        Active Projects
                    </div>
                </div>
            </div>
            <div class="page-section_column col-lg-3 col-sm-6 pad-fix--lg">
                <div class="icon-box animated icon-box--grey animation-delay--6 d-flex flex-column align-items-center" data-delay="700">
                    <div class="icon-box_stat counter">
                        @DotnetFoundationWeb.AppSettings.ResourcesCounter
                    </div>
                    <div class="icon-box_icon">
                        <img src="img/github_icon.png">
                    </div>
                    <div class="icon-box_label">
                        Resources
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row" style="align-items: center" id="PresetFeaturedProject">
        </div>
    </div>
    <div style="height: 3rem;"></div>
    <div id="home-featured-project_overlay"></div>
</section>
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Upcoming Events and Meetups</h2>
                <div id="PresetEvents"></div>
                <p class="">
                    <a class="link_title" href="https://meetup.com/pro/dotnet">Find more events and Meetups ></a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Latest News and <a href="/blog" aria-label="blog">Blog</a></h2>
                @Html.Partial("_partials/_blog-card.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
                        .Flatten()
                        .FilterSources("__data/posts/*")
                        .OrderByDescending(doc => doc.GetDateTime("Published"))
                        .Take(5))
                <p class="">
                    <a class="link_title" href="news">Get more news</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Corporate Sponsors</h2>
                <p>These companies are helping drive the future of .NET. </p>
                <div class="corporate-sponsor-card-container">
                    @Html.Partial("_partials/_corporate-sponsor-logo-card.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
                      .Flatten()
                      .FilterSources("__data/corporate-sponsors/*.md")
                      .OrderBy(sponsor => sponsor.GetInt("order"))
                      )
                </div>
            </div>
        </div>
    </div>
</section>
