---
layout: _layout
title: .NET
isHome: true
---
<section id="home-hero">
    <div id="home-hero_container" class="container-fluid d-flex justify-content-center position-relative">
        <div id="home-hero_overlay" class="position-absolute"></div>
        <div id="home-hero_content" class="position-relative">
            <h2 id="home-hero_title">Independent. Innovative. Always open source.</h2>
            <p id="home-hero_copy" class="mx-auto">
                The .NET Foundation is an independent, non-profit organization established to support an innovative, commercially-friendly, open-source ecosystem around the .NET platform.
            </p>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>How we support the community?</h2>
            </div>
        </div>
        <div class="page-section_row row">
            <div class="page-section_column page-section_column--narrow col-md-4 pad-fix--all text-center">
                <img src="@DotNetFoundation.AppSettings.BaseRef/img/comp.png">
                <h3>Open Source Projects</h3>
                <p>
                    Open Source Projects
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="#">Find out more</a>
                </div>
            </div>
            <div class="page-section_column page-section_column--narrow col-md-4 pad-fix--all text-center">
                <img src="@DotNetFoundation.AppSettings.BaseRef/img/globe_icon.png">
                <h3>Community Grants</h3>
                <p>
                    Community Grants Description
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="#">Find out more</a>
                </div>
            </div>
            <div class="page-section_column page-section_column--narrow col-md-4 pad-fix--all text-center">
                <img src="@DotNetFoundation.AppSettings.BaseRef/img/Ellipse_1.png">
                <h3>Resources</h3>
                <p>
                    Resources Description
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="#">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-3 col-sm-6">
                <div class="icon-box animated icon-box--grey animation-delay--8 d-flex flex-column align-items-center" data-delay="900">
                    <div class="icon-box_stat counter">
                        61,000
                    </div>
                    <div class="icon-box_icon">
                        <img src="@DotNetFoundation.AppSettings.BaseRef/img/developers_icon.png">
                    </div>
                    <div class="icon-box_label">
                        Contributors
                    </div>
                </div>
            </div>
            <div class="page-section_column col-lg-3 col-sm-6 pad-fix--sm">
                <div class="icon-box animated icon-box--grey animation-delay--2 d-flex flex-column align-items-center" data-delay="300">
                    <div class="icon-box_stat counter">
                        3700
                    </div>
                    <div class="icon-box_icon">
                        <img src="@DotNetFoundation.AppSettings.BaseRef/img/building_icon.png">
                    </div>
                    <div class="icon-box_label">
                        Companies
                    </div>
                </div>
            </div>
            <div class="page-section_column col-lg-3 col-sm-6 pad-fix--lg">
                <div class="icon-box animated icon-box--grey animation-delay--4 d-flex flex-column align-items-center" data-delay="500">
                    <div class="icon-box_stat counter">
                        56
                    </div>
                    <div class="icon-box_icon">
                        <img src="@DotNetFoundation.AppSettings.BaseRef/img/member_projects_icon.png">
                    </div>
                    <div class="icon-box_label">
                        Active Projects
                    </div>
                </div>
            </div>
            <div class="page-section_column col-lg-3 col-sm-6 pad-fix--lg">
                <div class="icon-box animated icon-box--grey animation-delay--6 d-flex flex-column align-items-center" data-delay="700">
                    <div class="icon-box_stat counter">
                        462
                    </div>
                    <div class="icon-box_icon">
                        <img src="@DotNetFoundation.AppSettings.BaseRef/img/github_icon.png">
                    </div>
                    <div class="icon-box_label">
                        Resources
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="home-featured-project">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-sm-5 text-center" id="home-featured-project_container">
                <h2>Featured Project</h2>
                <p>
                    Featured Project Description
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="#">Find out more</a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 3rem;"></div>
    <div id="home-featured-project_overlay"></div>
</section>
<section class="page-section" id="home-incubating-project">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-sm-5 text-center" id="home-incubating-project_container">
                <h2>Incubating Project</h2>
                <p>
                    Incubating Project description
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="#">Find out more</a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 3rem;"></div>
    <div id="home-incubating-project_overlay"></div>
</section>
<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Upcoming Events and Meetups</h2>
                @Html.Partial("_partials/_events.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
                    .Flatten()
                    .FilterSources(Context, "data/events/*")
                    )
                <p class="">
                    <a class="link_title" href="https://meetup.com/pro/dotnet">Find more events and Meetups ></a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Latest News and Blog</h2>
                @Html.Partial("_partials/_news.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
                       .Flatten()
                       .FilterSources(Context, "data/news/*")
                       )
                <p class="">
                    <a class="link_title" href="@DotNetFoundation.AppSettings.BaseRef/news">Get more news ></a>
                </p>
            </div>
        </div>
    </div>
</section>
